<div>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Your bio</legend>
        <textarea class="textarea h-24" placeholder="Bio"></textarea>
    </fieldset>
</div>

<div>
    <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl">Générer</button>
</div>