---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Accueil">
  <main class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-4xl font-bold mb-6 text-primary">Bienvenue</h1>
    <a href="/generator" class="btn btn-primary">Aller au générateur</a>
  </main>
</Layout>